# Copia esse arquivo pra ".env" (sem o .example) e preenche com os valores
# reais que estão no arquivo FASE1_CREDENCIAIS.txt

EXPO_PUBLIC_SUPABASE_URL=https://gobcpgqukxmioectkxsm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_MdWyNDtlBz8pV-BrCcRZWQ_DoHWyp3J
